<template>
    <div id="page-container">
        <div id="header">
            <VueMenuBar />
            <VueTitle />
        </div>
        <div id="page-data-container">
            <CurrencyRates />
            <div style="background-color: #ffcf02; padding: 10pt;">
                <span>TRADE LOG:</span>
            </div>
            <div style="background-color: #b1b1b1; padding: 20pt;">
                <div id="trade-log">
                    <p>
                        user@host> file show /var/log/processes Feb 22 08:58:24 router1 snmpd[359]:
                        %DAEMON-3-SNMPD_TRAP_WARM_START: trap_generate_warm: SNMP trap: warm start
                    </p>
                     <p>
                        Feb 22 20:35:07 router1 snmpd[359]:
                        %DAEMON-6-SNMPD_THROTTLE_QUEUE_DRAINED: trap_throttle_timer_handler: cleared all throttled traps
                     </p>
                     <p>
                        Feb 23 07:34:56 router1 snmpd[359]:
                        %DAEMON-3-SNMPD_TRAP_WARM_START: trap_generate_warm: SNMP trap: warm start
                     </p>
                     <p>
                        Feb 23 07:38:19 router1 snmpd[359]:
                        %DAEMON-2-SNMPD_TRAP_COLD_START: trap_generate_cold: SNMP trap: cold start
                    </p>
                    <p>
                        user@host> file show /var/log/processes Feb 22 08:58:24 router1 snmpd[359]:
                        %DAEMON-3-SNMPD_TRAP_WARM_START: trap_generate_warm: SNMP trap: warm start
                    </p>
                     <p>
                        Feb 22 20:35:07 router1 snmpd[359]:
                        %DAEMON-6-SNMPD_THROTTLE_QUEUE_DRAINED: trap_throttle_timer_handler: cleared all throttled traps
                     </p>
                     <p>
                        Feb 23 07:34:56 router1 snmpd[359]:
                        %DAEMON-3-SNMPD_TRAP_WARM_START: trap_generate_warm: SNMP trap: warm start
                     </p>
                     <p>
                        Feb 23 07:38:19 router1 snmpd[359]:
                        %DAEMON-2-SNMPD_TRAP_COLD_START: trap_generate_cold: SNMP trap: cold start
                    </p>
                 </div>
            </div>
        </div>
    </div>
</template>

<script>
    import VueTitle from './main/vue_title';
    import VueMenuBar from './main/vue_menu_bar';
    import CurrencyRates from './main/currency_rates';

    export default {
        name: 'App',
        components: {
            VueTitle,
            VueMenuBar,
            CurrencyRates
        }
    }
</script>
