<template>
    <b-container fluid id="rates-container">
        <b-row class="text-center">
            <b-col id="binance-rates">
                <RatesSpreadSheet v-bind:burse_data="burses.binance" />
            </b-col>
            <b-col id="poloniex-rates">
                <RatesSpreadSheet v-bind:burse_data="burses.poloniex" />
            </b-col>
            <b-col id="yo-bit-rates">
                <RatesSpreadSheet v-bind:burse_data="burses.you_bit" />
            </b-col>
            <b-col id="live-coin-rates">
                <RatesSpreadSheet v-bind:burse_data="burses.live_coin" />
            </b-col>
            <b-col id="exmo-rates">
                <RatesSpreadSheet v-bind:burse_data="burses.exmo" />
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
    import RatesSpreadSheet from './rates/rates_spreadsheet';

    export default {
        name: 'CurrencyRates',
        data() {
            return {
                burses: {
                    binance: {
                        title: 'Binance',
                        diff_1: 'Poloniex',
                        diff_2: 'YouBit',
                        diff_3: 'LiveCoin',
                        diff_4: 'Exmo'
                    },
                    poloniex: {
                        title: 'Poloniex',
                        diff_1: 'Binance',
                        diff_2: 'YouBit',
                        diff_3: 'LiveCoin',
                        diff_4: 'Exmo'
                    },
                    you_bit: {
                        title: 'YouBit',
                        diff_1: 'Binance',
                        diff_2: 'Poloniex',
                        diff_3: 'LiveCoin',
                        diff_4: 'Exmo'
                    },
                    live_coin: {
                        title: 'LiveCoin',
                        diff_1: 'Binance',
                        diff_2: 'Poloniex',
                        diff_3: 'YouBit',
                        diff_4: 'Exmo'
                    },
                    exmo: {
                        title: 'Exmo',
                        diff_1: 'Binance',
                        diff_2: 'Poloniex',
                        diff_3: 'YouBit',
                        diff_4: 'LiveCoin'
                    }
                }
            }
        },
        components: {
            RatesSpreadSheet
        }
    }
</script>