<template>
    <b-container id="rate-container">
        <b-row>
            <b-col id="service-name">{{ burse_data.title }}</b-col>
        </b-row>
        <b-row class="stats-row">
            <b-col id="sell-out">load...</b-col>
            <b-col id="buy-out">load...</b-col>
        </b-row>
        <b-row class="stats-row">
            <b-col id="sell">load...</b-col>
            <b-col id="buy">load...</b-col>
        </b-row>
        <b-row  class="stats-row">
            <b-col id="depth-sell">load...</b-col>
            <b-col id="depth-buy">load...</b-col>
        </b-row>
        <b-row>
            <b-col id="diff-name">Burse Name</b-col>
            <b-col id="default-diff">Default Diff</b-col>
            <b-col id="current-diff">Current Diff</b-col>
        </b-row>
        <b-row class='dif-row'>
            <b-col id="diff-name-1">{{ burse_data.diff_1 }}</b-col>
            <b-col id="def-diff-1">0</b-col>
            <b-col id="cur-diff-1">1</b-col>
        </b-row>
        <b-row  class='dif-row'>
            <b-col id="diff-name-2">{{ burse_data.diff_2 }}</b-col>
            <b-col id="def-diff-2">0</b-col>
            <b-col id="cur-diff-2">2</b-col>
        </b-row>
        <b-row  class='dif-row'>
            <b-col id="diff-name-3">{{ burse_data.diff_3 }}</b-col>
            <b-col id="def-diff-3">0</b-col>
            <b-col id="cur-diff-3">3</b-col>
        </b-row>
        <b-row  class='dif-row'>
            <b-col id="diff-name-4">{{ burse_data.diff_4 }}</b-col>
            <b-col id="def-diff-4">0</b-col>
            <b-col id="cur-diff-4">4</b-col>
        </b-row>
        <b-row class="amount-header">
            <b-col></b-col>
            <b-col id="btc">BTC</b-col>
            <b-col id="usd">USD</b-col>
        </b-row>
        <b-row class="amount-row">
            <b-col id="ini">Initial</b-col>
            <b-col id="btc-amount-ini">0.01</b-col>
            <b-col id="usd-amount-ini">100</b-col>
        </b-row>
        <b-row class="amount-row">
            <b-col id="cur">Current</b-col>
            <b-col id="btc-amount-cur">0.005</b-col>
            <b-col id="usd-amount-cur">150</b-col>
        </b-row>
    </b-container>
</template>

<script>
    export default {
        name: 'RatesSpreadsheet',
        props: {
            burse_data: Object
        }
    }
</script>
