#page-container {
  #header {
    ul {
      list-style-type: none;
      margin: 0 !important;
      padding: 0;
      overflow: hidden;
      background-color: #222;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      font: 12pt sans-serif;

      li {
        float: left;
        padding: 2px;
        min-width: 120px;

        a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;

          &:hover {
            background-color: #ffcf02;
            color: #222;
          }
        }
      }
    }

    #orders-bar-title {
      list-style-type: none;
      margin: 0;
      padding: 15px 40px;
      overflow: hidden;
      background-color: #555;
      color: #ffcf02;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      font: 12pt sans-serif;
    }
  }

  #page-data-container {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border: 6px solid #ffcf02;
    border-top: 16px solid #ffcf02;
    font: 12pt sans-serif;

    #rates-container {
      #binance-rates, #poloniex-rates, #yo-bit-rates, #live-coin-rates, #exmo-rates {
        border: 1pt solid #ffcf02;
        padding: 0;
      }

      #rate-container {
        #service-name, .amount-header {
          background-color: #222;
          color: white;

          &:not(#service-name) {
            padding: 6pt;
            font: 11pt sans-serif;
          }
        }

        #service-name, #diff-name, #default-diff, #current-diff {
          padding: 10pt;

          &:not(#service-name) {
            border: 1pt solid #222;
            padding: 6pt 0;
            background-color: #555;
            color: white;
            font: 11pt sans-serif;
          }
        }

        .stats-row {
          .col {
            background-color: #fff089;
            border: 1pt solid #222;
            padding: 6pt;
            font: 11pt sans-serif;

            &#sell {
              color: green;
            }

            &#buy {
              color: red;
            }
          }
        }

        .dif-row {
          .col {
            padding: 4pt 0;
            border-bottom: 1pt solid #555;
            background-color: #909090;
            font: 11pt sans-serif;
          }
        }

        .amount-row {
          .col {
            border: 1pt solid #222;
            padding: 4pt 0;
            background-color: #b1b1b1;
            font: 10pt sans-serif;
            color: #fff089;

            &#ini, &#cur {
              color: #222;
            }
          }
        }
      }
    }
  }
}